<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (C) 2026 Static Codes

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.staticcodes.odlf">

    <!-- 
    SDK 21 is the minimum compatible version as it introduced CrossProfileApps. 
    https://developer.android.com/reference/android/content/pm/CrossProfileApps
    -->
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="36" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>


    <!--
        Manifest Guide:
         
        supportsRtl=true         | Informs Android that the stub supports Right to left layout alterations.
        exported=true            | Allows the active launcher to open the stub. 
        noHistory=true           | Prevents the stub from being cached in Android's activity stack.
        excludesFromRecents=true | Prevents the stub from being included in Android's Recent Apps menu.
        launchMode=singleTask    | Specifies the stub may only be used to launch a single external package.
    -->
    
    <application 
        android:debuggable="true"
        android:label="OnDeviceLabelFetcher" 
        android:icon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">

        <activity 
            android:name=".OnDeviceLabelFetcher"
            android:excludeFromRecents="true"
            android:exported="true" 
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>